<ul class="container no-pd clearfix animated-list" id="grid">
    <% @products.each_with_index do |product, index| %>
        <li class="<%= index < 2 ? 'tile-big' : 'tile' %>">
            <figure class="item has-hover">
                <%= image_tag product.image(index < 2 ? :big : :medium), class: "item-img"%>
                <figcaption class="figcaption">
                    <!-- <p class="description-short">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus minus necessitatibu
                    </p> -->
                    <span class="item-delivery"><%= product.delivery_from %>-<%= product.delivery_to %> days</span>
                    <%= link_to "stare", product, class: "btn-primary" %>
                </figcaption>
            </figure>
            <div class="item-short-info">
                <h3 class="item-title"><%= link_to product.title, product %></h3>
                <p>
                    <span class="item-price"><%= product.price %> UAH</span>
                </p>
            </div>
        </li>
    <% end %>
</ul>
