<div class="container">
    <div class="block block-item clearfix">
        <%= image_tag @product.image(:big), class: "item-img"%>
        <div class="item-info-full">
            <h2 class="item-title"><%= @product.title %></h2>
            <ul class="item-statistics">
                <li>Watched: <span><%= @product.view_count %></span></li>
                <li>Added to the cart: <span><%= @product.add_count %></span></li>
                <li>Ordered: <span><%= @product.order_count %></span></li>
            </ul>
            <p>
                <span class="item-price"><%= @product.price %> UAH</span>
            </p>
            <div class="part">
                <h3 class="title-part">Short description:</h3>
                <p class="text"><%= @product.description %></p>
            </div>
            <div class="part">
                <h3 class="title-part">Delivery:</h3>
                <span class="item-delivery"><%= @product.delivery_from %>-<%= @product.delivery_to %> days</span>
            </div>
            <%= link_to 'Add to the cart', checkout_add_url(product_id: @product.id), remote: true, method: :put, class: "btn-primary btn-wide" %>
        </div><!-- end of item-info-big -->
    </div><!-- end of block block-item clearfix -->
</div><!-- end of container -->