<% content_for :content do %>
	<div class="page-wrapper">
		<div class="content-wrapper">
		    <header class="header">
		        <div class="container clearfix">
					<%= link_to root_url, class: "logo-link" do %>
		        		<%= image_tag "logo-main.svg", class: "logo-main" %>
		        	<% end %>
		        	<%= link_to checkout_url, class: "mini-cart" do %>
		        		<span class="products-quantity js-shopping-cart-item">
		        			<%= shopping_cart_count %>
		        		</span>
		        	<% end %>
		        </div><!-- end of container -->
		    </header><!-- end of header -->

			<%= yield %>

		</div><!-- end of content-wrapper -->
	</div><!-- end of page-wrapper -->
<% end %>

<%= render template: "layouts/base" %>